.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #999;
}
ul {
    list-style-type: none;
}

ul li {
    text-decoration: none;
    font-size: 20px;
}